---
import { Icon } from "astro-icon/components";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
---

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descargar APK</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
</head>

<body>
    <header>
        <nav class="bg-[#111827] px-4 py-2.5 text-white lg:px-6">
            <div
                class="mx-auto flex flex-wrap items-center justify-between px-5"
            >
                <a
                    class="flex items-center gap-3 hover:!text-default"
                    href="/"
                >
                    <h1 class="sr-only">fGuzzoDev</h1>
                    <Icon name="logomark" class="size-10" />
                    <Icon name="wordmark" class="hidden h-5 sm:block" />
                </a>

                <a href="/" class="flex items-center justify-center gap-1">
                    <Icon name="mdi:arrow-left" class="size-8" />
                    <span>Volver</span>
                </a>
            </div>
        </nav>
    </header>
    <main>
        <div>
            <span>Bienvenid@</span>
            <h1>CARUP - MOBILE</h1>
            <hr>
            <p>Esta aplicación está destinada a los choferes o prestadores de servicio para que puedar recibir y
                gestionar servicios
            </p>
            <div style="text-align: center;">
            <a href="https://drive.google.com/file/d/10BeQj5AusOks4m6jPNlvaUvIUVwMobsx/view">DESCARGAR APP</a>
            </div>
            <div style="text-align: center;margin-top: 20px;">
                <img src="/proyectos/carup-apk/qr-code.png" style="width: 200px; margin: 0 auto" alt="qrCode">
            </div>
        </div>
        <div
            class="swiper swiper-coverflow swiper-3d swiper-initialized swiper-horizontal swiper-pointer-events swiper-watch-progress">
            <div class="swiper-wrapper" id="swiper-wrapper-2a2b9dbc109ecb33" aria-live="polite"
                style="cursor: grab; transition-duration: 0ms; transform: translate3d(-1405px, 0px, 0px);">
                <div class="swiper-slide swiper-slide--one" data-swiper-slide-index="0" role="group" aria-label="1 / 5"
                    style="width: 281px; transition-duration: 0ms; transform: translate3d(0px, 0px, -1800px) rotateX(0deg) rotateY(0deg) scale(1); z-index: -17;">
                    <div>
                        <h2>LOGIN</h2>
                        <p>Aquí iniciamos nuestra jornada, y nos logueamos a la app</p>

                    </div>
                    <div class="swiper-slide-shadow-left" style="opacity: 18; transition-duration: 0ms;"></div>
                    <div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div>
                </div>
                <div class="swiper-slide swiper-slide--two" data-swiper-slide-index="1" role="group" aria-label="2 / 5"
                    style="width: 281px; transition-duration: 0ms; transform: translate3d(0px, 0px, -1800px) rotateX(0deg) rotateY(0deg) scale(1); z-index: -17;">
                    <div>
                        <h2>Bienvenid@</h2>
                        <p>
                            Esta es la pantalla de Home, donde recordamos nuestra misión y visión
                        </p>
                    </div>
                    <div class="swiper-slide-shadow-left" style="opacity: 18; transition-duration: 0ms;"></div>
                    <div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div>
                </div>
                <div class="swiper-slide swiper-slide--three" data-swiper-slide-index="1" role="group"
                    aria-label="2 / 5"
                    style="width: 281px; transition-duration: 0ms; transform: translate3d(0px, 0px, -1800px) rotateX(0deg) rotateY(0deg) scale(1); z-index: -17;">
                    <div>
                        <h2>Mis servicios</h2>
                        <p>
                            Gestión de servicios pendientes y en curso
                        </p>
                    </div>
                    <div class="swiper-slide-shadow-left" style="opacity: 18; transition-duration: 0ms;"></div>
                    <div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div>
                </div>
                <div class="swiper-slide swiper-slide--four" data-swiper-slide-index="1" role="group" aria-label="2 / 5"
                    style="width: 281px; transition-duration: 0ms; transform: translate3d(0px, 0px, -1800px) rotateX(0deg) rotateY(0deg) scale(1); z-index: -17;">
                    <div>
                        <h2>Menú</h2>
                        <p>
                            Desde aquí nos dirigimos a varias pantallas
                        </p>
                    </div>
                    <div class="swiper-slide-shadow-left" style="opacity: 18; transition-duration: 0ms;"></div>
                    <div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div>
                </div>
                <div class="swiper-slide swiper-slide--five" data-swiper-slide-index="1" role="group" aria-label="2 / 5"
                    style="width: 281px; transition-duration: 0ms; transform: translate3d(0px, 0px, -1800px) rotateX(0deg) rotateY(0deg) scale(1); z-index: -17;">
                    <div>
                        <h2>Detalle del Servicio</h2>
                        <p>
                            Vemos toda la información referida a la incidencia
                        </p>
                    </div>
                    <div class="swiper-slide-shadow-left" style="opacity: 18; transition-duration: 0ms;"></div>
                    <div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div
                class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
                <span class="swiper-pagination-bullet" tabindex="0" role="button"
                    aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button"
                    aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button"
                    aria-label="Go to slide 3"></span><span
                    class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
                    aria-label="Go to slide 4" aria-current="true"></span><span class="swiper-pagination-bullet"
                    tabindex="0" role="button" aria-label="Go to slide 5"></span>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
        <img src="/proyectos/carup-apk/camionTow.png" alt="" class="bg">
        <img src="/proyectos/carup-apk/camion2.png" alt="" class="bg2">
    </main>








    <style>
        @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500;900&display=swap");

        * {
            box-sizing: border-box;
            font-family: "Open Sans", sans-serif;
        }

        main {
            position: relative;
            width: calc(min(90rem, 90%));
            margin: 0 auto;
            min-height: 90vh;
            column-gap: 3rem;
            padding-block: min(20vh, 3rem);
        }

        .bg {
            position: fixed;
            top: -1rem;
            left: -4rem;
            z-index: -1;
            opacity: 0;
            width: 47rem;
        }

        .bg2 {
            position: fixed;
            bottom: -2rem;
            right: -3rem;
            z-index: -1;

            opacity: 0;
        }

        main>div span {
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-size: 1rem;
            color: #717171;
        }

        main>div h1 {
            text-transform: capitalize;
            letter-spacing: 0.8px;
            font-family: "Roboto", sans-serif;
            font-weight: 900;
            font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
            background-color: #aa1400;
            background-image: linear-gradient(45deg, #aa1400, #000000);
            background-size: 100%;
            background-repeat: repeat;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }

        main>div hr {
            display: block;
            background: #aa1400;
            height: 0.25rem;
            width: 6.25rem;
            border: none;
            margin: 1.125rem 0 1.875rem 0;
        }

        main>div p {
            line-height: 1.6;
        }

        main a {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            color: #717171;
            font-weight: 500;
            background: #fff;
            border-radius: 3.125rem;
            transition: 0.3s ease-in-out;
        }

        main>div>div>a {
            border: 2px solid #c2c2c2;
            margin-top: 2.188rem;
            padding: 0.625rem 1.875rem;
        }

        main>div>a:hover {
            border: 0.125rem solid #aa1400;
            color: #aa1400;
        }

        .swiper {
            width: 100%;
            padding-top: 3.125rem;
        }

        .swiper-pagination-bullet,
        .swiper-pagination-bullet-active {
            background: #fff;
        }

        .swiper-pagination {
            bottom: 1.25rem !important;
        }

        .swiper-slide {
            width: 20rem !important;
            height: 35rem;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: self-start;
        }

        .swiper-slide h2 {
            color: #fff;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.4;
            margin-bottom: 0.625rem;
            padding: 0 0 0 1.563rem;
            text-transform: uppercase;
        }

        .swiper-slide p {
            color: #dadada;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            padding: 0 1.563rem;
            line-height: 1.6;
            font-size: 0.75rem;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .swiper-slide a {
            margin: 1.25rem 1.563rem 3.438rem 1.563rem;
            padding: 0.438em 1.875rem;
            font-size: 0.9rem;
        }


        .swiper-slide div {
            display: none;
            opacity: 0;
            padding-bottom: 0.625rem;
        }

        .swiper-slide-active div {
            display: block;
            opacity: 1;
        }

        .swiper-slide--one {
            background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
                url("/proyectos/carup-apk/app1.jpg") no-repeat 50% 0% / cover;
        }

        .swiper-slide--two {
            background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
                url("/proyectos/carup-apk/app2.jpg") no-repeat 50% 0% / cover;
        }

        .swiper-slide--three {
            background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
                url("/proyectos/carup-apk/app3.jpg") no-repeat 50% 0% / cover;
        }

        .swiper-slide--four {
            background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
                url("/proyectos/carup-apk/app4.jpg") no-repeat 50% 0% / cover;
        }

        .swiper-slide--five {
            background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
                url("/proyectos/carup-apk/app5.png") no-repeat 50% 0% / cover;
        }


        .swiper-3d .swiper-slide-shadow-left,
        .swiper-3d .swiper-slide-shadow-right {
            background-image: none;
        }

        @media screen and (min-width: 48rem) {
            main {
                display: flex;
                align-items: center;
            }

            .bg,
            .bg2 {
                opacity: 0.1;
            }
        }

        @media screen and (min-width: 93.75rem) {
            .swiper {
                width: 85%;
            }
        }
    </style>


    <script type="module">
        import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs";
        var swiper = new Swiper(".swiper", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            coverflowEffect: {
                rotate: 0,
                stretch: 0,
                depth: 100,
                modifier: 3,
                slideShadows: true
            },
            keyboard: {
                enabled: true
            },
            mousewheel: {
                thresholdDelta: 70
            },
            loop: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true
            },
            slidesPerView: 'auto'
        });
    </script>
    
</body>

</html>