---
import { Icon } from "astro-icon/components";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
---

<style>
    body {
        background-image: url("./bground.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #container {
        width: 100%;
        height: 80vh;
      
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
    }

    .swiper-slide {
        background-size: cover;
        background-position: center;

    }

    .mySwiper2 {
        height: 80%;
        width: 100%;
    }


    .mySwiper {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }

    .mySwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }

    .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .pro-detail {
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        color: white;
        padding: 20px;
        border-radius: 10px;
    }
</style>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>


    <body>
        <header>
            <nav class="bg-[#111827] px-4 py-2.5 text-white lg:px-6">
                <div
                    class="mx-auto flex flex-wrap items-center justify-between px-5"
                >
                    <a
                        class="flex items-center gap-3 hover:!text-default"
                        href="/"
                    >
                        <h1 class="sr-only">fGuzzoDev</h1>
                        <Icon name="logomark" class="size-10" />
                        <Icon name="wordmark" class="hidden h-5 sm:block" />
                    </a>

                    <a href="/" class="flex items-center justify-center gap-1">
                        <Icon name="mdi:arrow-left" class="size-8" />
                        <span>Volver</span>
                    </a>
                </div>
            </nav>
        </header>

        <section class="py-10 lg:py-24">
            <div class="max-w-9xl mx-auto px-4 sm:px-6">
                <div class="grid grid-cols-1 gap-8 lg:grid-cols-2">
                    <div
                        class="pro-detail mx-auto flex w-full max-w-screen-lg flex-col max-lg:mx-auto"
                    >
                        <h2
                            class="font-manrope mb-2 font-bold leading-10 text-3xl"
                        >
                            <span
                                ><Icon
                                    name="mdi:code-json"
                                    class="display: inline"
                                /></span
                            >
                           sdf
                        </h2>
                        <div
                            class="mb-6 flex flex-col sm:flex-row sm:items-center"
                        >
                        </div>
                        <p class="mb-8 font-normal sm:text-base md:text-lg">
                          sdf
                        </p>
                    </div>
                    <div id="container">
                        <div
                            style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                            class="swiper mySwiper2"
                        >
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-1.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-2.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-3.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-4.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-5.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-6.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-7.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-8.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-9.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-10.jpg"
                                    />
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-1.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-2.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-3.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-4.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-5.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-6.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-7.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-8.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-9.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-10.jpg"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>




</html>
<!-- 
<script
    src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>-->
<script type="module">

     import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'
    var swiper = new Swiper(".mySwiper", {
        loop: true,
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
        loop: true,
        spaceBetween: 10,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        thumbs: {
            swiper: swiper,
        },
    });
</script>
