---
import type { ImgProyectoItem } from "~/types";

export interface Props {
    items: Array<ImgProyectoItem>;
}

const { items} = Astro.props;
---

{
    items.map((item) => (
        <div class="swiper-slide">
            <img
                src={item.src}
                alt={item.alt}
                class="mx-auto"
            />
        </div>
    ))
}
