---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Prueba de conceptos" id="conceptos" display="display:none">
  <Fragment slot="lead">
    Pequeños <span class="text-primary">experimentos</span> y  <span class="text-primary">pruebas de concepto</span> que he realizado
  </Fragment>
</ContentSection>
