---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Prueba de conceptos" id="conceptos" display="display:none">
  <Fragment slot="lead">
    Un resumen de mi <span class="text-primary">recorrido</span> y mi <span class="text-primary">formación</span> a lo largo de mi <span class="text-primary">vida</span> hasta la actualidad
  </Fragment>
</ContentSection>
